fastapi==0.115.12
uvicorn==0.34.2

qdrant-client==1.15.1

langchain==0.3.25
langchain-core==0.3.60
langchain-text-splitters==0.3.8
langchain-ollama==0.3.3
langchain-qdrant==0.2.0
langchain-openai==0.3.17
langchain_community==0.3.24

celery==5.5.2
redis==6.1.0